<p>about works!</p>
<div class='About'>
    <div class='pI'>
        <div class='para'>
            <p>The Goal of this website is to spread awareness to recycling,we have to take responsablity to help Our
                Planet by changing our view to the things we take as granted</p>
        </div>
        <div>
            <img src='./R1.jpg' />
        </div>
    </div>
    <div class='pI'>
        <div class='para'>
            <p>This Website will expose you to infer the benefits of recycling and to start taking part of it ,i hope
                you enjoy and rich your information❣</p>
        </div>
        <div>
            <img class='imgS' src='./R1.jpg' />
        </div>
    </div>
</div>