.Login .form {
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 1;
    background: none;
    max-width: 360px;
    margin: 10px auto 32px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Login .form h2 {
    color: #7fb349;

}

.Login input {
    width: 70%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Login button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}