<p>signup works!</p>
<div className='Signup'>
    <div className='form'>
        <h2>Signup</h2>
        <form className="register-form" id="contactForm">
            <input type="text" id="name" name="name" placeholder="username" />
            <input type="password" id="password" name="password" placeholder="password" />
            <input type="text" id="Email" name="Email" placeholder="email@gmail.com" />
            <input id="subMit" type="submit" value="submit" />
            <button id="newU" type="submit">Admin</button>
        </form>
    </div>
</div>