<p>coupons works!</p>
<div className='Profile'>
    <div className='form'>
        <h3>My Profile</h3>
        <form className="register-form" id="contactForm">
            <div>
                <input className='nameinput' type="text" id="name" name="name" placeholder="username" />
            </div>
            <div className='brands'>
                <div><img src="./mac.png" alt="mac" /></div>
                <div className='nextToimg'>
                    <label>Choose Coupon:</label>
                    <select defaultValue="coupon" name="coupon" id="coupon">
                        <option></option>
                        <option value="coupon1">000110</option>
                        <option value="coupon2">001100</option>
                        <option value="coupon3">010010</option>
                    </select>
                    <div>
                        <p>Recycling Amount</p>
                        <button>50</button>
                    </div>
                    <input id="subMit" type="submit" value="submit" />
                </div>
            </div>
        </form>
    </div>
</div>