<h2>hii home works!</h2>
<div class='Home'>
    <div class='header'>
        <img src='./r2.png' />
        <img id='img2' src='./lk.png' />
    </div>
    <div class='Sdays'>
        <ul class='trteb'>
            <li>
                <h3>Special Days</h3>
            </li>
            <li><img src='./145.jpg' />
                <p>World Environment Day 22/04</p>
            </li>
            <li><img src='./day2.webp' />
                <p>Earth Day 05/06</p>
            </li>
            <li><img src='./day1.jpg' />
                <p>Arbor Day 29/04</p>
            </li>

        </ul>
    </div>
    <div class='container'>
        <div class='pI'>
            <div class='para'>
                <p>This Website Collects For You Activities You Can Join And Brands You Love Who Supports Recycling ,You
                    Can Start Recycle & Take Part of It Hoping you'll enjoy❣</p>
            </div>
        </div>
    </div>
    <div class='buttom'>
        <ul class='homeUls'>
            <li>
                <h3>Recycling Brands:</h3>
            </li>
            <li><img src='./hm.jpg' /></li>
            <li><img src='./sfr.jpg' /></li>
            <li><img src='./adidas.jpg' /></li>
            <li><img src='./miEden.jpg' /></li>
            <li><img src='./Shufersal.jpg' /></li>
            <li><img src='./nespresso.png' /></li>
            <li><img src='./mac.png' /></li>
            <a href='./brands'>
                <li class='href'><img src='./fm.png' /></li>
            </a>
        </ul>
    </div>
</div>